 /************* Header Styling ***********/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header_input {
  display: flex;
  align-items: center;
  border-radius: 50px;
  width: 50%;
  height: 40px;
  border: 2px solid lightgray;
  overflow: hidden;
}
.header_input > input {
  flex: 1;
  border: none;
  outline: none;
}

.header_inputButton {
  width: 50px !important;
  height: 35px !important;
  background-color: #ebe8e8;
  color: gray;
  border: none;
  cursor: pointer;
}

.mic_icon {
  background-color: #f1f1f1; /* Light grey background */
  padding: 12px; /* Increase padding for more space around the icon */
  font-size: 28px; /* Increase the size of the icon */
  border-radius: 50%; /* Keep the circular shape */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.header_left {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  gap: 10px; /* Adds space between the Menu icon and the YouTube logo */
}
.menu_icon {
  color: gray;
   cursor: pointer;
}
.menu_icon:hover{
  background-color: lightgray;
  border-radius: 50%;
 padding: 5px 10px 5px 10px;
  
}

.header_logo {
  height: 45px;
  object-fit: contain;
}

.header_icons {
  display: flex;
  align-items: center;
  gap: 15px;
}



/************ Sidebar Styiling ************/

.sidebar{
  flex:0.2 ; /* 0.2 means it will take onl 20% of page */
  
}
.sidebar > hr{
   height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.sidebarRow{
 display: flex; 
 align-items: center;
 padding: 10px 20px;
}

.sidebarRow_icon{
  color: rgba(50, 50, 50, 0.989);
  font-size: large !important;
}

.sidebarRow_title{
  flex: 1;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
}

.sidebarRow:hover{
  background-color: rgb(227, 224, 224);
  border-radius: 5px;
  cursor: pointer;
}

.sidebarRow:hover > .sidebarRow_icon{
  color: red;
}

.sidebarRow:hover > .sidebarRow_title{
  font-weight: bold;
}

.sidebarRow.selected{
  background-color: rgb(238, 237, 237);
  border-radius: 5px;
}

.sidebarRow.selected > .sidebarRow_icon{
  color: red;
}

.sidebarRow.selected > .sidebarRow_title{
  font-weight: bold;
}