.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header_input {
  display: flex;
  align-items: center;
  border-radius: 50px;
  width: 50%;
  height: 40px;
  border: 2px solid lightgray;
  overflow: hidden;
}
.header_input > input {
  flex: 1;
  border: none;
  outline: none;
}

.header_inputButton {
  width: 50px !important;
  background-color: #fafafa;
  color: gray;
  border: none;
  cursor: pointer;
}

.mic_icon {
  background-color: #f1f1f1; /* Light grey background */
  padding: 12px; /* Increase padding for more space around the icon */
  font-size: 28px; /* Increase the size of the icon */
  border-radius: 50%; /* Keep the circular shape */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.header_left {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  gap: 10px; /* Adds space between the Menu icon and the YouTube logo */
}
.menu_icon {
  color: gray;

}
.header_logo {
  height: 45px;
  object-fit: contain;
}

.header_icons {
  display: flex;
  align-items: center;
  gap: 15px;
}